  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới danh mục
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Sản phẩm</a></li>
        <li><a ui-sref="product_categories">Danh mục</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-controller="productCategoryListController">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới danh mục sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddProductCategory" role="form" ng-submit="AddProductCategory()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="name" required ng-maxlength="250"  ng-change="GetSeoTitle()" type="text" ng-model="productCategory.Name">
                        <span class="text-danger" ng-show="frmAddProductCategory.name.$invalid && frmAddProductCategory.name.$touched ">Tên danh mục là bắt buộc</span>
                        <span class="text-danger" ng-show="frmAddProductCategory.name.$error.maxlength">Tên danh mục chỉ được tối đa 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="alias" required ng-maxlength="250" type="text" ng-model="productCategory.Alias">
                        <span class="text-danger" ng-show="frmAddProductCategory.alias.$invalid && frmAddProductCategory.alias.$touched ">Tiêu đề SEO là bắt buộc</span>
                        <span class="text-danger" ng-show="frmAddProductCategory.alias.$error.maxlength">Tiêu đề SEO chỉ được tối đa 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input class="form-control" maxlength="500" name="description" type="text" ng-model="productCategory.Description">
                        <span class="text-danger" ng-show="frmAddProductCategory.description.$error.maxlength">Mô tả ngắn chỉ được tối đa 500 ký tự</span>
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select name="parentID" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">--Danh mục gốc--</option>
                        </select>
                        <input name="parentID" type="hidden" ng-model="productCategory.ParentID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Thứ tự hiển thị</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="displayOrder" required type="number" ng-model="productCategory.DisplayOrder"> 
                        <span class="text-danger" ng-show="frmAddProductCategory.displayOrder.$invalid && frmAddProductCategory.displayOrder.$touched ">Thứ tự hiển thị là bắt buộc và là số</span>
                    </div>
                </div>              
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="image" ng-maxlength="250" type="text" ng-model="productCategory.Image">
                        <span class="text-danger" ng-show="frmAddProductCategory.description.$error.maxlength">Hình ảnh chỉ được tối đa 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Meta keyword</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="metaKeyword" ng-maxlength="250" type="text" ng-model="productCategory.MetaKeyword">
                        <span class="text-danger" ng-show="frmAddProductCategory.description.$error.maxlength">Meta keyword chỉ được tối đa 250 ký tự</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Meta description </label>
                    <div class="col-sm-10">
                        <input class="form-control" name="metaDescription" ng-maxlength="250" type="text" ng-model="productCategory.MetaDescription">
                        <span class="text-danger" ng-show="frmAddProductCategory.description.$error.maxlength">Meta descriptio chỉ được tối đa 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status"> Kích hoạt
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" ui-sref="product_categories">Hủy</button>
                <button class="btn btn-success pull-right" ng-disabled="frmAddProductCategory.$invalid" type="submit">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->